body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
    color: navy;
    padding: 1rem;
}

.list-display {
    border: black 1px solid;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
}

.list-item {
    border-bottom: black 1px solid;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-align: left;

}

.list-footer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.list-footer button {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: blue;
}

form {
    text-align: center;
    padding: 2rem;
}

button {
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

input {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.add-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-btn {
    background-color: navy;
    color: white;
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}


#reset-btn {
    background-color: red;
    padding: 0.5rem;
    margin: 2rem;
    font-size: 1rem;
    width: 30%;
}

.remove-btn {
    color: red;
    font-weight: bold;
    background-color: white;
}

.remove-btn:hover, .remove-btn:active {
    transform: scale(1.5);
}

input[type=checkbox]:checked + label{
    text-decoration: line-through;
  }

.filter-active {
    background-color: navy;
    color: white;
}

.footer-btn:hover, .footer-btn:active {
    transform: scale(1.2);
    background-color: white;
    color: blue;
    border: red 1px solid;
}