li {
    list-style: none;
    background-color: black;
    padding: 2rem;
    border-radius: 20px;
}

.info {
    background-color: rgb(219, 218, 218);
}


p {
    padding: 0.25rem 1rem;
}

.info a, button {
    color: yellow;
    background-color: black;
    padding: 0.5rem;
    border-radius: 10px;
}

button:hover, button:active {
    transform: scale(1.1);
}