@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');
body{
    background: linear-gradient(rgba(20,105,233,1), rgba(132,241,133,1));
    font-family: 'Roboto', sans-serif;
    background-size: 100% auto;
    width: 100%;
    height: 800px; 
}

h1{
    color: white;
    font-family: 'Baloo Da', cursive;
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
}

.quiz-container {
    color: black;
    background-color:  rgba(222, 216, 247, 0.7);
    border-radius: 1rem;
    padding: 5rem 3rem;
    margin: 1rem auto;
    max-width: 75%;
}

button {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
    border-radius: 1rem;
    text-align: center;
    width: 50%;
    font-size: 24px;
    padding: 1rem;
    margin: 0.5rem;
}

.buttons {
    display: flex;
    margin: 0 auto;
    max-width: 75%;
}

.p, div {
    font-size: 24px;
    text-align: left;
    padding: 0.5rem;
}
.answers {
    display: flex; 
    flex-direction: column;
}

label {
    padding: 1rem;
}

.quiz-container div {
    padding: 1rem;
}

#results {
    text-align: center;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }